.logo{
    cursor: pointer;}
.logo i {
    font-family: serif;
    color: orange;
}
.logo b {
    font-family: cursive;
}
.left_main{
    justify-content: space-between;
    margin-left: 5px;
}
.navigationshort{
    width: 15vw;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 3px;
    
}
.navlink:hover{
    background-color: rgb(233, 192, 115);
    border-radius: 20px;
    transition: 0.5s;
}
.navlink{
    display: flex;
    height: 50px;
    align-items: center;
    
}
.navlink:active{
    background-color: rgb(233, 192, 115);
}
.left_bar{
    /* position: fixed; */
    flex: 1;
}
.navigationshort button{
    border: unset;
    background-color: transparent;
}

.add1{
    height: 150px;
    background-color: white;
    border-radius: 12px;
}
.add2{
    height: 350px;
    background-color: white;
    border-radius: 12px;
}
.add3{
    height: 150px;
    background-color: white;
    border-radius: 12px;
}